<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link href="static/style.css" rel="stylesheet" title="Default Style">
        <title>Results for {{ doc_id }}</title>
    </head>

    <body>

        <h1>Results for {{ doc_id }}</h1>

        <div>
            <h2>Summary</h2>
            <p>{{ summary }}</p>
        </div>

        <div>
            <h2>Topic Modeling</h2>
            <h3>Percentages by topic</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        {% for topic_i in range(topic_result.shape[0]) %}
                            <th>Topic {{ topic_i }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ doc_id }}</td>
                        {% for topic_weight in topic_result %}
                            <td>{{ "%.2f"|format(topic_weight * 100) }}%</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <h3>Percentages by document</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        {% for topic_i in range(doc_result.shape[0]) %}
                            <th>Topic {{ topic_i }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ doc_id }}</td>
                        {% for topic_weight in doc_result %}
                            <td>{{ "%.2f"|format(topic_weight * 100) }}%</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <h3>Top 4 topic wordclouds</h3>
            <table>
                <thhead></thhead>
                    <tr>
                        <th>Topic</th>
                        <th>NMF Wordcloud</th>
                        <th>TF-IDF Wordcloud</th>
                    </tr>
                {% for topic_i in top_topics %}
                    <tr>
                        <td>Topic {{ topic_i }} ({{ "%.2f"|format(topic_result[topic_i] * 100) }}%)</td>
                        <td><a href="static/wordclouds/{{ topic_i }}_nmf_wordcloud.png"><img src="static/wordclouds/{{ topic_i }}_nmf_wordcloud.png" style="max-width: 600px; max-height: 300px" /></a></td>
                        <td><a href="static/wordclouds/{{ topic_i }}_tfidf_wordcloud.png"><img src="static/wordclouds/{{ topic_i }}_tfidf_wordcloud.png" style="max-width: 600px; max-height: 300px" /></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div>
            <h2>Full Text</h2>
            {% for line in doc.split("\n") %}
                <p>{{ line }}</p>
            {% endfor %}
        </div>

    </body>
</html>